<div class="panel panel-default">
    <div class="form-wrapper">
            <h2>Editar cuenta</h2><br>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <p>
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </p>

              <p>
                <%= f.label :username %><br />
                <%= f.text_field :username %>
              </p>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <p class="field">
                <%= f.label :contraseña %> <i>(Dejar en blanco para mantener la actual)</i><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </p>

              <p class="field">
                <%= f.label :confirmar_contraseña %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </p>

              <p class="field">
                <%= f.label :contraseña_actual %> <i></i><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
              </p>

              <p class="actions">
                <%= f.submit "Actualizar", :class => "btn btn-primary" %>
                <%= button_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "¿Éstás seguro?" }, method: :delete, :class => "btn btn-danger" %>
              </p>
            <% end %>

            <br><%= link_to "← Regresar", :back, { :class => "btn btn-primary btn-sm" } %>
    </div>
</div>