<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-md-3">
			<%= image_tag @report.image.url(:medium) %><br><br>
			<p><%= link_to("← Regresar", reports_path, :id => "back", :class => "btn btn-primary btn-sm") %></p>
		</div>

		<div class="col-md-7 col-md-offset-1">
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<td style="border: 0px">
								<h1><%= @report.name %></h1>
								<% if user_signed_in? %>
									<%= render 'layouts/options' %>
								<% else %>
									Reportado por <b><%= @report.user.username %></b>
								<% end %>
							</td>
						</tr>
						<tr>
							<td>
								Se perdió el día: <b><%= @report.since %></b>.<br>
								En <%= @report.city %>
								<% if @report.found %>
									<td><br><b>¡Y ya regresó a casa!</b></td>
								<% end %>
							</td>
						</tr>
						<tr>
							<td>
								<h3>Detalles del reporte:</h3>
								<p>	<%= @report.details %> </p>
							</td>
						</tr>
						<tr>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="comments">
				  <%= render 'comments/comment' %>
			</div>

			<%= render 'comments/form' %>

		</div>
	</div>
</div>		 